<br />
<br />

<div class="booyah-box col-xs-12 col-sm-6 col-sm-offset-3">
  <h1>Team</h1>
  <br />
  <p>
    Privacy Policy
This Privacy Policy was last updated on March 15, 2015

This Privacy Policy (“Privacy Policy”) explains how Udemy, Inc. (“Udemy,” “we” or “us”) collect, use and share personally identifiable information of visitors of our web site (the “Site”) and users of our products and services (the “Services”). Please note that the primary purpose of our Site and the Services it to allow you to enroll in and take online courses on a variety of topics (“Courses”). For the purpose of this Privacy Policy, information that you provide through the Site can be in one of two categories: information relating to your use of the Site or the Services, including, without limitation, enrollment information for Courses, is referred to as “Site Information,” while information relating to taking the Courses, including, without limitation, interchanges with the Course instructors (“Instructors”), other students (“Users”), answers, essays and other items submitted to satisfy Course requirements, is referred to as “Course Information.” When this Privacy Policy uses the generic term “information” it is intended to address the general use of information, and not your specific Site Information or Course Information. By using the Site, Services, or Courses you consent to the collection, use and disclosure of your personally identifiable Site Information and Course Information, as applicable, in accordance with this Privacy Policy.

1. Personally Identifiable Information We Collect and How We Use It.

You can generally visit the Site without revealing any personally identifiable information about yourself. We do not collect personal information from our Site visitors without the Site visitor providing us with this information as set forth in this Privacy Policy.

If you request to receive company or product information, or request information about specific Services, or provide comments about Services, you will be asked to provide contact information so that we can complete your request. We use this Site Information to fulfill your request. We may also use this Site Information to send you additional information about our Services or Courses on the Site that you may be interested in.

Some of the Services require that you become a registered user and create a user account. This will require that you provide certain personally identifiable information, that may include (but not be limited to) your (and if you are enrolling as part of our Udemy for Business program) your company’s name, e-mail address, as well as telephone and address information.


  </p>
</div>