<br />
<div class="col-xs-10 col-xs-offset-1">
  <h1>Add a new section</h1>
  <br />
  <%= simple_form_for @section, url: instructor_course_sections_path(@course) do |f|%>
  <br />
	  <%= f.input :title %>
	<br />	  
	  <%= f.submit 'Add a Section'%>
  <% end %>
</div>