$footer-height: 130px;

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -$footer-height;
  /* Pad bottom by footer height */
  padding: 0 0 $footer-height;
}

/* Set the fixed height of the footer here */
#footer {
  height: $footer-height;
  color: white;
  background-color: rgb(74, 74, 74);
  font-family: "Helvetica Neue",Helvetica;
  padding:10px 0px;
  margin-top:30px;
  font-weight: 100;
}

#footer a {
	color: white;
	font-weight: 100;
}

#footer a:hover{
  color: #28C4C9;
  font-weight: 200;
}

.social-button {
  width: 40px;
}

/*  MEDIA QUERIES */

$footer-height-mobile: 300px;
@media (max-width: 750px) {
  #footer {
    height:$footer-height-mobile;
  }

  #wrap {
    margin: 0 auto -$footer-height-mobile;
    /* Pad bottom by footer height */
    padding: 0 0 $footer-height-mobile;
  }

  #footer .social {
    margin-top:10px;
  }

}

