@import url(https://fonts.googleapis.com/css?family=Handlee|Open+Sans|Loved+by+the+King);

 html,body{
  background-image: url('fabric.png');
  height:100%;
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Helvetica;
  color: #4A4A4A;
}

h1, h2, h3, h4, h5, h6, .navbar {
  margin:0;
}

h1, h2, h3 {
  color: #4A4A4A;
}

a {
  color: #292929;
}

a:hover{
  color: #28C4C9;
  text-decoration: none;
}

.navbar-default {
  background-color: #8BBF2A;
  border: none;
  border-radius: 0;
	background-image: url('fabric.png');
  height: 60px;
  padding-top: 5px;
  box-shadow: 0px 1px 10px #E8EAE9;
}

.navbar-default .navbar-brand{
  font-weight: bolder;
	font-size: 25px;
  padding-bottom: 20px;
  padding-left: 20px;
}

.navbar-default .navbar-brand:hover{
  color: #28C4C9;
}

.navbar-default .navbar-nav > li > a{
  
  color: #292929;
  font-size: 18px;
  font-weight: bolder;
}

.navbar-default .navbar-nav > li > a:hover{
  color: #2ACCD1;
  font-size: 18px;
  font-weight: bolder;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form{
  border-top: none;
}


.hero {
  background: url('rocks.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 400px;
  box-shadow: 0px 1px 10px #E8EAE9;
}

.frosty {
  color: white;
}

.frosty h1{
  font-family: 'Open Sans', Helvetica;
  font-weight: 100;
}

.frost h2 {
  font-family: 'Open Sans', Helvetica;
  font-weight: 200;
  text-shadow: rgba(0,0,0,0.95) 1px 1px;
}

.btn {
  border-radius: 0px;
  padding: 8px 25px;
  border: none;
  color: #ffffff;
  background-color: #28C4C9;
  font-size: 14px;
}
.clear {
  clear: both;
}

.field_with_errors {
  color: #ff3333;
  background-color: #FFEEEE;
  border-radius: 3px;
  padding:5px;
  margin:10px;
}

/* VIDEO PLAYER SKIN */

.skin { color: green; }
.skin .vjs-control-bar { background: green; }
.skin .vjs-play-progress { background: green; }

/* COURSE DETAILS PAGE*/

.section {
  padding: 20px;
  
}

.lesson {
  padding: 10px;
  margin: 0 10px;
  height: 80px;
  overflow: hidden;
}

.lesson a {
  font-family: "Helvetica Neue",Helvetica;
  font-weight:100;
  font-size: 15px;
}

.lesson a b {
  font-weight: 100;
  font-size:20px;
}

.course-page{
  border-bottom: 1px solid #E8EAE9;
}

.bottom-half{
  background-color: #E8EAE9;
  bottom: 0;
  width: 100%;
}

.label-info{
  font-weight: 100;
  font-size: 15px;
  background-color: #4A4A4A;
  border-radius: 0;
}

.price {
  color: #C93306;
  font-weight: bold;
  font-size: 30px;
}

.stripe-button {
  background-image: none;
  border-radius: 0;
}





