@import url(https://fonts.googleapis.com/css?family=Handlee|Open+Sans|Loved+by+the+King);

 html,body{
  background-image: url('fabric.png');
  height:100%;
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Helvetica;
  color: #262626;
}

h1, h2, h3, h4, h5, h6, .navbar {
  margin:0;
}

.frosty h1 {
  color: rgba(255,255,255,0.7);
  font-weight: bolder;
}

.frosty h3 {
  color: rgba(255,255,255,0.7);
  font-weight: bolder;
}

a {
  color: #292929;
}

a:hover{
  color: #28C4C9;
  text-decoration: none;
}

.navbar-default {
  background-color: #28C4C9;
  border-bottom: 1px solid #28C4C9;
  border-radius: 0;
	background-image: none;
  height: 60px;
  padding-top: 5px;
  box-shadow: 0px 1px 10px rgba(0,0,0,.3);
}

.navbar-default .navbar-brand{
  font-weight: bolder;
	font-size: 25px;
  color: rgba(255,255,255,0.6);
  padding-bottom: 20px;
  padding-left: 20px;
}

.navbar-default .navbar-brand:hover{
  color: #ffffff;
}

.navbar-default .navbar-nav > li > a{
  color: #ffffff;
  color: rgba(255,255,255,0.7);
  font-size: 18px;
  font-weight: bolder;
}

.navbar-default .navbar-nav > li > a:hover{
  color: #ffffff;
  font-size: 18px;
  font-weight: bolder;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form{
  border-top: none;
  background-color: #28C4C9;
}

.hero {
  background: url('hero.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 500px;
  margin-top: -50px;
  box-shadow: 0px 1px 10px #E8EAE9;
}

.frosty {
  color: white;
}

.frosty h1{
  font-family: 'Open Sans', Helvetica;
  font-weight: 100;
}

.frost h2 {
  font-family: 'Open Sans', Helvetica;
  font-weight: 200;
  text-shadow: rgba(0,0,0,0.95) 1px 1px;
}

.btn {
  border-radius: 0px;
  padding: 8px 25px;
  border: none;
  color: #ffffff;
  background-color: #28C4C9;
  font-size: 14px;
}

.btn:hover{
  background-color: #4A4A4A;
  color: #ffffff;
}
.clear {
  clear: both;
}

.field_with_errors {
  color: #ff3333;
  background-color: #FFEEEE;
  border-radius: 3px;
  padding:5px;
  margin:10px;
}

/* VIDEO PLAYER SKIN */

.skin { color: green; }
.skin .vjs-control-bar { background: green; }
.skin .vjs-play-progress { background: green; }

/* COURSE DETAILS PAGE*/

.section {
  padding: 20px;

}

.lesson {
  padding: 10px;
  margin: 0 10px;
  height: 80px;
  overflow: hidden;
}

.lesson a {
  font-family: "Helvetica Neue",Helvetica;
  font-weight:100;
  font-size: 15px;
}

.lesson a b {
  font-weight: 100;
  font-size:20px;
}

.course-page{
  border-bottom: 1px solid #E8EAE9;
}

.bottom-half{
  background-color: #E8EAE9;
  bottom: 0;
  width: 100%;
  padding-bottom: 250px;
  margin-bottom: -190px;
}

.label-info{
  font-weight: 100;
  font-size: 15px;
  background-color: #4A4A4A;
  border-radius: 0;
}

.price {
  color: #C93306;
  font-weight: bold;
  font-size: 30px;
}

.stripe-button {
  background-image: none;
  border-radius: 0;
}

.sections{
  padding-left: 0;
}

.section-li{
  background-color: #E8EAE9;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-left: 16px solid #C93306;
}

.lessons b {
    border-left: 16px solid #C93306;
    padding-left: 5px;
}
.alert{
  padding-top: 50px;
  position: relative;
  width: 100%;
  margin-top: 30px;
  margin-bottom: -20px;
}
ul li {
  list-style: none;
}

@media (max-width: 750px) {
  .bottom-half{
    background-color: #E8EAE9;
    bottom: 0;
    width: 100%;
    padding-bottom: 50px;
    margin-bottom: -390px;
  }
}
